.icon-autogenerate{
	background:url('icons/autogenerate.png') no-repeat center center;
}
.icon-brand{
	background:url('icons/brand.png') no-repeat center center;
}
.icon-add{
	background:url('icons/add.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-pencil{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-house{
	background:url('icons/house.png') no-repeat center center;
}
.icon-box{
	background:url('icons/box.png') no-repeat center center;
}
.icon-task{
	background:url('icons/task.png') no-repeat center center;
}
.icon-ticket{
	background:url('icons/ticket.png') no-repeat center center;
}
.icon-user{
	background:url('icons/user.png') no-repeat center center;
}
.icon-group{
	background:url('icons/group.png') no-repeat center center;
}
.icon-select{
	background:url('icons/select.png') no-repeat center center;
}
.icon-info{
	background:url('icons/info.png') no-repeat center center;
}
.icon-group2{
	background:url('icons/group2.png') no-repeat center center;
}
.icon-developer{
	background:url('icons/developer.png') no-repeat center center;
}
.icon-admin{
	background:url('icons/admin.png') no-repeat center center;
}
.icon-manager{
	background:url('icons/manager.png') no-repeat center center;
}
.icon-taskboard{
	background:url('icons/taskboard.png') no-repeat center center;
}
.icon-config{
	background:url('icons/config.png') no-repeat center center;
}
.icon-open{
	background:url('icons/open.png') no-repeat center center;
}
.icon-close{
	background:url('icons/close.png') no-repeat center center;
}
.icon-complete{
	background:url('icons/complete.png') no-repeat center center;
}
.icon-unknown{
	background:url('icons/unknown.png') no-repeat center center;
}
.icon-reopen{
	background:url('icons/reopen.png') no-repeat center center;
}
.icon-preview{
	background:url('icons/preview.png') no-repeat center center;
}
.icon-stask{
	background:url('icons/stask.png') no-repeat center center;
}
.icon-waiting{
	background:url('icons/waiting.png') no-repeat center center;
}
.icon-stuck{
	background:url('icons/stuck.png') no-repeat center center;
}
.icon-comment{
	background:url('icons/comment.png') no-repeat center center;
}
.icon-date{
	background:url('icons/date.png') no-repeat center center;
}
.icon-up{
	background:url('icons/up.png') no-repeat center center;
}
.icon-progress{
	background:url('icons/progress.png') no-repeat center center;
}