/* CSS Styles */

html, body {
	font-family: Tahoma;	
	font-size: 12px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #ebebeb;
	overflow: hidden;
}
h2 { 
  color: #111; 
  font-size: 48px; 
  text-align: left; 
  padding: 5px 10px;
  margin: 0px;
  text-transform: uppercase; 
  text-shadow: 0 1px 1px #fff;
}
a{
  text-decoration: none;
  color: #326FAB;
}
select {
  height: 2em;
  border: 1px solid #ccc;
  background-color: #fff;
}
.footer{
	font-size:10px !important;
	font-family: Tahoma;
	float:left;
}
.footer-additional{
	font-size:10px !important;
	font-family: Tahoma;
	float:right;
}
.centered {
  position: fixed; /* or absolute */
  top: 40%;
  left: 35%;
}
.centered-2 {
  position: fixed; /* or absolute */
  top: 45%;
  left: 44%;
}
.user-project{
  height:20px;
  margin:5px;
  padding-left:20px;
  line-height:20px;
  background-position: left !important;
}
.comment-box{
  width:99%;
  min-height:20px;
  padding:5px 5px 5px 20px;
}
.icon-enabled{
  height:20px;
  margin:5px;
  padding-left:20px;
  line-height:20px;
  background-position: left top !important;
}
.margined{
  margin:5px;
  line-height:20px;
  background-position: left top !important;
}
.activity-td:hover{
  background-color: #FFF4D9;
}
.td-view-project:hover{
  background-color: #E6EDF7;
}
.td-view-project{
  vertical-align: top;
  max-width: 100px;
}
h2{
	font-size:14px;
	font-family: Verdana;
}
.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
.label2 {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
.label-default {
    background-color: #777;
}
.label-primary {
    background-color: #337AB7;
}
.label-success {
    background-color: #5CB85C;
}
.label-info {
    background-color: #5BC0DE;
}
.label-warning {
    background-color: #F0AD4E;
}
.label-danger {
    background-color: #D9534F;
}
.priority-lbl {
  float:left;
  width:15px;
  height:15px;
  margin:2px;
  border:1px solid gray;
  cursor: help;
}
.ticket-lbl {
  font-family: Arial,Helvetica,sans-serif;
  background-color: #fff;
  color: #666;
  white-space: nowrap;
  overflow: visible !important;
  border: 1px solid #cbcbcb;
  margin-left: 3px;
  position: relative;
  border-radius: 0;
  padding: 2px 4px;  
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
  cursor: pointer;
}
.ticket-lbl:before {
  content: " ";
  display: block;
  border-left: 1px solid #cbcbcb;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  background-color: #fff;
  width: 2px;
  height: 70%;
  position: absolute;
  left: -3px;
  top: 2px;
}
.ticket-lbl-sml {
  font-family: Arial,Helvetica,sans-serif;
  color: #666;
  border-bottom:1px solid #C0C0C0; 
  padding: 7px 2px 2px 2px;
  cursor: pointer;
}
.ticket-lbl-sml:hover {
  color: black;
}
.progress-box{
	height: 10px;
	border: 1px solid gray;
  border-radius: 3px;
	width: 1px;
	margin: 3px 3px 3px 0px;
	float: left;
}
.progress-fill{
	background-color: gray;
	height: 100%;
}
.n-button:hover{
	cursor: pointer;
	border:1px solid #B9CEE9;
	border-radius:3px
}
.editor-shown{
  background-color: #FFFFF5;
}
.dialog-header{
  border-top: 1px solid #C0C0C0 !important;
  border-left: 1px solid #C0C0C0 !important;
  border-right: 1px solid #C0C0C0 !important;
  border-bottom: 1px solid #99bbe8 !important;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  padding: 5px;
  background-image: -webkit-linear-gradient(#dae6f3, #c2d5ed);
  background-image: -moz-linear-gradient(#dae6f3, #c2d5ed);
  background-image: -ms-linear-gradient(#dae6f3, #c2d5ed);
  background-image: -o-linear-gradient(#dae6f3, #c2d5ed);
  background-image: linear-gradient(#dae6f3, #c2d5ed);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffdae6f3', endColorstr='#ffc2d5ed', GradientType=0);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.task-header{
  background-color: white;
  border: 1px solid #C0C0C0 !important;
  font-size: 13px;
  text-align: left;
  margin: 5px;
    box-shadow:0 3px 8px rgba(50, 50, 50, 0.17);
}
.task-content{
  text-align: left;
  padding: 5px 5px 5px 5px;
  overflow: hidden;
  font-family: Arial;
}
.task-header-priority{
  height:5px;
  width:100%;
  border-bottom:1px solid #C0C0C0;
  background-color:red;
  float:left
}
.dialog-content{
  border-left: 1px solid #C0C0C0 !important;
  border-right: 1px solid #C0C0C0 !important;
  border-bottom: 1px solid #C0C0C0 !important;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  padding: 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.dialog-content-desc{
  background-color: white;
  border: 1px dotted #C0C0C0 !important;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  padding: 5px;
}
.dialog-content-task{
  margin: 5px 0px 5px 10px;
  border: 1px solid #C0C0C0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  padding: 5px;
  border-radius: 3px;
  background-color: white;
/*  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .25);*/
}
button.btn-ml {
  display: inline-block;
  border-radius: 4px;
  margin: 0 5px;
  padding: 7px 12px 6px!important;
  color: #666;
  font-size: 12px!important;
  border: 1px solid #B6B6B6;
  background-image: -webkit-linear-gradient(#fff 0,#e7e7e7 100%);
  background-image: -moz-linear-gradient(#fff 0,#e7e7e7 100%);
  background-image: -ms-linear-gradient(#fff 0,#e7e7e7 100%);
  background-image: -o-linear-gradient(#fff 0,#e7e7e7 100%);
  background-image: linear-gradient(#fff 0,#e7e7e7 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffe7e7e7', endColorstr='#ffffffff', GradientType=0);
  outline: 0;
  box-shadow: 0 1px 0 #fff;
  cursor: default;
  min-width: 75px;
  line-height: 100%!important;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
button.btn-ml:hover {
  text-decoration: none;
  border: 1px solid #bbb;
  background-image: -webkit-linear-gradient(#f7f7f7 0%, #dddddd 100%);
  background-image: -moz-linear-gradient(#f7f7f7 0%, #dddddd 100%);
  background-image: -ms-linear-gradient(#f7f7f7 0%, #dddddd 100%);
  background-image: -o-linear-gradient(#f7f7f7 0%, #dddddd 100%);
  background-image: linear-gradient(#f7f7f7 0%, #dddddd 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#fff7f7f7', GradientType=0);
  color: #333;
}

button.btn-ml:active,
button.btn-ml.clicked {
  border: 1px solid #999;
  background-image: -webkit-linear-gradient(#cccccc 0%, #cccccc 100%);
  background-image: -moz-linear-gradient(#cccccc 0%, #cccccc 100%);
  background-image: -ms-linear-gradient(#cccccc 0%, #cccccc 100%);
  background-image: -o-linear-gradient(#cccccc 0%, #cccccc 100%);
  background-image: linear-gradient(#cccccc 0%, #cccccc 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffcccccc', endColorstr='#ffcccccc', GradientType=0);
  text-shadow: 1px 1px 1px #eee;
}